In [90]:
import pandas as pd
import os 

results = pd.read_excel(os.path.join('/Users/wangxiang/Desktop/VelaInternship/data/successful','Previous Results.xlsx'))

results.head()

results.value_counts()

clean_results = results.map(lambda x: x.strip())
clean_results = clean_results.map(lambda x: x.strip("'"))
clean_results.value_counts()

clean_results.head()

  segment
0      L4
1      L4
2      L4
3      L4
4      L4

In [91]:
path = '/Users/wangxiang/Desktop/VelaInternship/data/successful/successful_profiles.csv'
original_data = pd.read_csv(path)
original_data.head()
original_data['segment'] = clean_results
original_data.head()

,founder_linkedin_url,json_string,structured_info,paragraph,segment
0,https://www.linkedin.com/in/ryan-johns-sf/,"{""version"": 1, ""hits"": 2, ""results"": 1, ""kgver...","{'name': 'Ryan Johns', 'gender': 'Male', 'birt...",Ryan Johns is known for their contribution as ...,L4
1,http://www.linkedin.com/in/smakani,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Shoaib Makani', 'gender': 'Male', 'b...",Shoaib Makani is known for their contribution ...,L4
2,https://www.linkedin.com/in/obaid-khan-b77b4357/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Obaid Khan', 'gender': 'Male', 'birt...",Obaid Khan is known for their contribution as ...,L4
3,https://www.linkedin.com/in/alexbuttle,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Alex Buttle', 'gender': 'Male', 'bir...",Alex Buttle is known for their contribution as...,L4
4,http://www.linkedin.com/in/jonesharry,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Harry Jones', 'gender': 'Male', 'bir...",Harry Jones is known for their contribution as...,L4

Now that the first 800+ data are safe

In [92]:
#Check Original_Data

original_data.shape

print(original_data['founder_linkedin_url'][847])

#Load the last 152 data 

the_other_data = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/successful/segmented_successful_profiles_gpt-4_8.csv')

print(the_other_data.shape)
print(the_other_data['founder_linkedin_url'][0])

# To find indices where the value in 'column_name' is 'value2'
indices = original_data.index[original_data['founder_linkedin_url'] == the_other_data['founder_linkedin_url'][0]].tolist()

print(indices)

https://www.linkedin.com/in/sanket-hattimattur-7162334/
(153, 5)
https://www.linkedin.com/in/amitavasaha73
[848]

In [44]:
# Now let's concat
# Concatenate the two datasets along the rows (axis=0)
merged_dataset = pd.concat([original_data, the_other_data], axis=0, ignore_index=True)

# Drop duplicates in the 'segment' column, keeping the first occurrence
merged_dataset = merged_dataset.drop_duplicates(subset='founder_linkedin_url', keep='first')

merged_dataset.head()

,founder_linkedin_url,json_string,structured_info,paragraph,segment
0,https://www.linkedin.com/in/ryan-johns-sf/,"{""version"": 1, ""hits"": 2, ""results"": 1, ""kgver...","{'name': 'Ryan Johns', 'gender': 'Male', 'birt...",Ryan Johns is known for their contribution as ...,L4
1,http://www.linkedin.com/in/smakani,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Shoaib Makani', 'gender': 'Male', 'b...",Shoaib Makani is known for their contribution ...,L4
2,https://www.linkedin.com/in/obaid-khan-b77b4357/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Obaid Khan', 'gender': 'Male', 'birt...",Obaid Khan is known for their contribution as ...,L4
3,https://www.linkedin.com/in/alexbuttle,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Alex Buttle', 'gender': 'Male', 'bir...",Alex Buttle is known for their contribution as...,L4
4,http://www.linkedin.com/in/jonesharry,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Harry Jones', 'gender': 'Male', 'bir...",Harry Jones is known for their contribution as...,L3

In [48]:
merged_dataset.shape
merged_dataset['segment'][900]
#Failed

nan

In [51]:
the_other_data.shape
print(the_other_data['founder_linkedin_url'][151:152])
print(original_data['founder_linkedin_url'][848+151:848+152])

151    https://www.linkedin.com/in/serkan-borancili-a...
Name: founder_linkedin_url, dtype: object
999    https://www.linkedin.com/in/serkan-borancili-a...
Name: founder_linkedin_url, dtype: object

In [52]:
original_data['segment'][848:848+152]=the_other_data['segment'][0:152]

/var/folders/fv/lkh46jcn57d1dj9hwqd535kw0000gq/T/ipykernel_35086/1690023494.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  original_data['segment'][848:848+152]=the_other_data['segment'][0:152]

### Systematic Way to Do Data Migration

In [93]:
# Calculate the range for the_other_data
start_index_the_other_data = 0
end_index_the_other_data = 152  # Adjust according to your data

# Calculate the corresponding range for original_data
start_index_original_data = 848
end_index_original_data = 848 + 152  # Adjust according to your data

# Perform the update using .loc for a single-step assignment
original_data.loc[start_index_original_data:end_index_original_data, 'segment'] = the_other_data.loc[start_index_the_other_data:end_index_the_other_data, 'segment'].values

# This line directly assigns the segment values from the_other_data to original_data for the specified indices

In [94]:
#Show the data
#original_data['segment'][1000]
original_data.to_csv(os.path.join(os.getcwd(),'data/successful/processed_segmented_data_successful_gpt4_1000.csv'), index=False)

In [3]:
!pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 3.8 MB/s eta 0:00:00a 0:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

### Let's test & merge the unsuccessful ones

In [74]:
unsuccessful_df_4_7 = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/segmented_unsuccessful_profiles_gpt-4_7.csv')

print(unsuccessful_df_4_7['segment'].shape)

# This is for the last ones
unsuccessful_df_4_7.head()

unsuccessful_df_original = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/segmented_unsuccessful_profiles.csv')

#print(unsuccessful_df_original.head())

# To find indices 
indices = unsuccessful_df_original.index[unsuccessful_df_original['founder_linkedin_url'] == unsuccessful_df_4_7['founder_linkedin_url'][0]].tolist()

print(indices)

                               founder_linkedin_url  \
0  http://www.linkedin.com/pub/pete-foley/3/753/a1a
1         https://www.linkedin.com/in/stubaileyblox
2           https://www.linkedin.com/in/adamellison
3         https://www.linkedin.com/in/danielpizzata
4               https://www.linkedin.com/in/mguctas

                                         json_string  \
0  {"version": 1, "hits": 1, "results": 1, "kgver...
1  {"version": 1, "hits": 3, "results": 1, "kgver...
2  {"version": 1, "hits": 1, "results": 1, "kgver...
3  {"version": 1, "hits": 1, "results": 1, "kgver...
4  {"version": 1, "hits": 1, "results": 1, "kgver...

                                     structured_info  \
0  {'name': 'Pete Foley', 'gender': 'Male', 'birt...
1  {'name': 'Stuart Bailey', 'gender': '', 'birth...
2  {'name': 'Adam Ellison', 'gender': '', 'birthD...
3  {'name': 'Daniel Pizzata', 'gender': 'Male', '...
4  {'name': 'Melis Guctas', 'gender': '', 'birthD...

                                           paragraph segment
0  Pete Foley is known for their contribution as ...      L4
1  Stuart Bailey is known for their contribution ...      L5
2  Adam Ellison is known for their contribution a...      L2
3  Daniel Pizzata is known for their contribution...      L3
4  Melis Guctas is known for their contribution a...      L3
[]

In [75]:
unsuccessful_df_4_7.head()

,founder_linkedin_url,json_string,structured_info,paragraph,segment
0,https://www.linkedin.com/in/jeff-grundey,"{""version"": 1, ""hits"": 2, ""results"": 1, ""kgver...","{'name': 'Jeff Grundey', 'gender': 'Male', 'bi...",Jeff Grundey is known for their contribution a...,L3
1,http://www.linkedin.com/in/artemfedyaev,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Artem Fedyaev', 'gender': '', 'birth...",Artem Fedyaev is known for their contribution ...,L4
2,https://www.linkedin.com/in/guyabelsohn,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Guy Abelsohn', 'gender': 'Male', 'bi...",Guy Abelsohn is known for their contribution a...,L1
3,https://www.linkedin.com/in/benjamingillman,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Benjamin Gillman', 'gender': 'Male',...",Benjamin Gillman is known for their contributi...,L2
4,https://www.linkedin.com/in/sunilrao,"{""version"": 1, ""hits"": 2, ""results"": 1, ""kgver...","{'name': 'Sunil Rao', 'gender': '', 'birthDate...",Sunil Rao is known for their contribution as F...,Without more information on the success of Myg...

In [63]:
unsuccessful_df_4_5 = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/segmented_unsuccessful_profiles_gpt-4_5.csv')
unsuccessful_df_4_5['segment'].value_counts()

segment
L3    5
L2    3
L4    1
L5    1
Name: count, dtype: int64

In [86]:
# Start Loading

original_380 = pd.read_excel('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/original_data_380.xlsx')
original_380.head(10)

  segment
0      L4
1      L5
2      L2
3      L3
4      L4
5      L3
6      L3
7      L3
8      L3
9      L2

In [87]:
unsuccessful_profiles = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/segmented_unsuccessful_profiles.csv')
unsuccessful_profiles.head(10)

,founder_linkedin_url,json_string,structured_info,paragraph,segment
0,http://www.linkedin.com/pub/pete-foley/3/753/a1a,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Pete Foley', 'gender': 'Male', 'birt...",Pete Foley is known for their contribution as ...,L4
1,https://www.linkedin.com/in/stubaileyblox,"{""version"": 1, ""hits"": 3, ""results"": 1, ""kgver...","{'name': 'Stuart Bailey', 'gender': '', 'birth...",Stuart Bailey is known for their contribution ...,L5
2,https://www.linkedin.com/in/adamellison,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Adam Ellison', 'gender': '', 'birthD...",Adam Ellison is known for their contribution a...,L2
3,https://www.linkedin.com/in/danielpizzata,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Daniel Pizzata', 'gender': 'Male', '...",Daniel Pizzata is known for their contribution...,L3
4,https://www.linkedin.com/in/mguctas,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Melis Guctas', 'gender': '', 'birthD...",Melis Guctas is known for their contribution a...,L3
5,https://www.linkedin.com/in/chris-retzler-a601...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Chris Retzler', 'gender': '', 'birth...",Chris Retzler is known for their contribution ...,L3
6,https://www.linkedin.com/in/clark-lin-71382649/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Clark Lin', 'gender': 'Male', 'birth...",Clark Lin is known for their contribution as C...,L3
7,https://www.linkedin.com/in/greg-chen-95082649/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Greg Chen', 'gender': 'Female', 'bir...",Greg Chen is known for their contribution as C...,L3
8,https://www.linkedin.com/in/joel-jackson-49813725,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Joel Jackson', 'gender': '', 'birthD...",Joel Jackson is known for their contribution a...,L4
9,https://www.linkedin.com/in/morgane-guinot-403...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Morgane GUINOT', 'gender': '', 'birt...",Morgane GUINOT is known for their contribution...,L3

In [116]:
unsuccessful_profiles = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/unsuccessful_profiles.csv')
unsuccessful_profiles['segment'] = original_380
unsuccessful_profiles.head()

,founder_linkedin_url,json_string,structured_info,paragraph,segment
0,http://www.linkedin.com/pub/pete-foley/3/753/a1a,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Pete Foley', 'gender': 'Male', 'birt...",Pete Foley is known for their contribution as ...,L4
1,https://www.linkedin.com/in/stubaileyblox,"{""version"": 1, ""hits"": 3, ""results"": 1, ""kgver...","{'name': 'Stuart Bailey', 'gender': '', 'birth...",Stuart Bailey is known for their contribution ...,L5
2,https://www.linkedin.com/in/adamellison,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Adam Ellison', 'gender': '', 'birthD...",Adam Ellison is known for their contribution a...,L2
3,https://www.linkedin.com/in/danielpizzata,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Daniel Pizzata', 'gender': 'Male', '...",Daniel Pizzata is known for their contribution...,L3
4,https://www.linkedin.com/in/mguctas,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Melis Guctas', 'gender': '', 'birthD...",Melis Guctas is known for their contribution a...,L4

### Let's explore the limits

In [117]:
unsuccessful_profiles.loc[379]

founder_linkedin_url    https://www.linkedin.com/in/rakesh-sharma-5333...
json_string             {"version": 1, "hits": 1, "results": 1, "kgver...
structured_info         {'name': 'Rakesh Sharma', 'gender': '', 'birth...
paragraph               Rakesh Sharma is known for their contribution ...
segment                                                                L3
Name: 379, dtype: object

In [135]:
# Load the rest of the data

rest_unsuccessful_profiles = pd.read_csv('/Users/wangxiang/Desktop/VelaInternship/data/Unsuccessful/segmented_unsuccessful_profiles_gpt-4_13_380_620.csv')

#Print the counts of segments
print(rest_unsuccessful_profiles.value_counts('segment'))

# Identify unusual segments by their length or specific content
# Here, I'm assuming any segment longer than 3 characters is unusual for simplicity
unusual_segments_mask = rest_unsuccessful_profiles['segment'].str.len() > 3

# You can also identify them by checking if they contain specific keywords
# unusual_segments_mask = rest_unsuccessful_profiles['segment'].str.contains('information does not clearly identify')

# Replace unusual segments with a default value, e.g., 'L1' for these two in particular
rest_unsuccessful_profiles.loc[unusual_segments_mask, 'segment'] = 'L1'

# Verify the changes
print(rest_unsuccessful_profiles['segment'].value_counts())

# If you need to identify the indexes of the unusual segments explicitly
unusual_segment_indexes = rest_unsuccessful_profiles.index[unusual_segments_mask].tolist()
print("Indexes of unusual segments:", unusual_segment_indexes)

segment
L3                                                                                                                                                                                                                                                                                                                                                                                                                273
L4                                                                                                                                                                                                                                                                                                                                                                                                                153
L2                                                                                                                                                                                                                                                                                                                                                                                                                135
L1                                                                                                                                                                                                                                                                                                                                                                                                                 52
L5                                                                                                                                                                                                                                                                                                                                                                                                                  5
The provided information does not clearly identify which level Sunil Rao fits as it does not mention about the financial success of his venture Mygubbi, if there was an exit, how much experience he has had aside from the vague "Co-Founder at Mygubbi", and whether he was connected with tech circles or big tech companies. Therefore, without additional information, Sunil Rao is categorised as L1.        1
Without more detailed information about Masahiro Yamachis well-documented achievements in the technology/entrepreneur sector, such as size of funds raised, successful veteran exit, years of experience, record in any leading technology company or pedigree, its not possible to accurately evaluate his level from L1 to L5. Therefore, further information is required to provide a valid classification.      1
Name: count, dtype: int64
segment
L3    273
L4    153
L2    135
L1     54
L5      5
Name: count, dtype: int64
Indexes of unusual segments: [424, 472]

### Let's now merge

In [122]:
unsuccessful_profiles.loc[380:].head()

,founder_linkedin_url,json_string,structured_info,paragraph,segment
380,https://www.linkedin.com/in/kansasbioengineer/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Karthik Ramachandran', 'gender': 'Ma...",Karthik Ramachandran is known for their contri...,L3
381,https://www.linkedin.com/in/lisa-stehno-bittel...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Lisa Stehno-Bittel', 'gender': 'Fema...",Lisa Stehno-Bittel is known for their contribu...,L3
382,https://www.linkedin.com/in/eric-blaser-a9a57b56/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Eric Blaser', 'gender': 'Male', 'bir...",Eric Blaser is known for their contribution as...,L2
383,https://www.linkedin.com/in/andrew-johnson-036...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Andrew Johnson', 'gender': 'Male', '...",Andrew Johnson is known for their contribution...,L1
384,https://www.linkedin.com/in/bradley-blaser-b58...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Bradley Blaser', 'gender': 'Male', '...",Bradley Blaser is known for their contribution...,L2

In [123]:
rest_unsuccessful_profiles.loc[0:].head()

,founder_linkedin_url,json_string,structured_info,paragraph,segment
0,https://www.linkedin.com/in/kansasbioengineer/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Karthik Ramachandran', 'gender': 'Ma...",Karthik Ramachandran is known for their contri...,L3
1,https://www.linkedin.com/in/lisa-stehno-bittel...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Lisa Stehno-Bittel', 'gender': 'Fema...",Lisa Stehno-Bittel is known for their contribu...,L3
2,https://www.linkedin.com/in/eric-blaser-a9a57b56/,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Eric Blaser', 'gender': 'Male', 'bir...",Eric Blaser is known for their contribution as...,L2
3,https://www.linkedin.com/in/andrew-johnson-036...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Andrew Johnson', 'gender': 'Male', '...",Andrew Johnson is known for their contribution...,L1
4,https://www.linkedin.com/in/bradley-blaser-b58...,"{""version"": 1, ""hits"": 1, ""results"": 1, ""kgver...","{'name': 'Bradley Blaser', 'gender': 'Male', '...",Bradley Blaser is known for their contribution...,L2

In [120]:
#unsuccessful_profiles.loc[380:] = rest_unsuccessful_profiles.loc[0:]
# Assuming that the index in rest_unsuccessful_profiles should match with
# the index in original_data starting from 848:
num_rows_to_update = rest_unsuccessful_profiles.shape[0]

# Update the 'segment' in original_data starting from index 848
unsuccessful_profiles.loc[380:379+num_rows_to_update, 'segment'] = rest_unsuccessful_profiles.loc[0:num_rows_to_update-1, 'segment'].values

### All merged. Let's do the presentation!

In [124]:
unsuccessful_profiles['segment'][379:384]
# Sense Check

379      L3
380      L3
381      L3
382      L2
383      L1
Name: segment, dtype: object

In [134]:
unsuccessful_profiles['segment'].value_counts()


# Now, check the value counts again
unsuccessful_profiles['segment'] = unsuccessful_profiles['segment'].astype(str)

cleaned_value_counts = unsuccessful_profiles['segment'].value_counts()
# Ensure 'segment' column is treated as a string, then replace single quotes with nothing
unsuccessful_profiles['segment'] = unsuccessful_profiles['segment'].astype(str).str.replace("'", "")
unsuccessful_profiles['segment'] = unsuccessful_profiles['segment'].astype(str).str.replace("  ", "")

#  drop rows with NaN values
unsuccessful_profiles.dropna(subset=['segment'], inplace=True)

print(cleaned_value_counts)

#Extract the top 1000 
print(unsuccessful_profiles['segment'].loc[:999].value_counts())

finalised_segmented_profiles_unsuccessful = unsuccessful_profiles.loc[:999]
finalised_segmented_profiles_unsuccessful.to_csv(os.path.join(os.getcwd(),'data','Unsuccessful','finalised_segmented_profiles_unsuccessful.csv'), index=False)

segment
nan    4997
L3      445
L4      249
L2      223
L1       75
L5        8
Name: count, dtype: int64
segment
L3    445
L4    249
L2    223
L1     75
L5      8
Name: count, dtype: int64

In [126]:
# Let's inspect the successful dataset
original_data['segment'].value_counts()

unusual_segments_mask = original_data['segment'].str.len() > 3

# You can also identify them by checking if they contain specific keywords
# unusual_segments_mask = rest_unsuccessful_profiles['segment'].str.contains('information does not clearly identify')

# Replace unusual segments with a default value, e.g., 'L3' for these 
original_data.loc[unusual_segments_mask, 'segment'] = 'L3'

# Verify the changes
print(original_data['segment'].value_counts())

# If you need to identify the indexes of the unusual segments explicitly
unusual_segment_indexes = original_data.index[unusual_segments_mask].tolist()
print("Indexes of unusual segments:", unusual_segment_indexes)

segment
L4    514
L3    287
L5     93
L2     83
L1     24
Name: count, dtype: int64
Indexes of unusual segments: [954, 968, 975]

In [137]:
# Let's save the processed ver for successful one

original_data['segment'].value_counts()

original_data.to_csv(os.path.join(os.getcwd(),'data','successful','finalised_segmented_profiles_successful.csv'), index=False)